html {
    background-color: purple;
}

div {
    color: #123456;
}

aside {
    margin-bottom: 21px;
    background-color: white;
    padding-top: 21px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 6px;
}

section {
    margin-bottom: 21px;
    background-color: white;
    padding-top: 21px;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 6px;
}

svg {
    width:16px;
    height:16px;
    }

a {
    color: #75312e;
}

a:visited {
    color: #e01c78;
}

a:hover {
    color: #f003f0;
}

.profileimg {
    border-radius: 50%;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 60px;
    position: absolute;
    margin-left: 420px;
}

.heading {
    padding-top: 21px;
    padding-left: 42px;
}   

.education {
    text-align: right;
}